* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: aliceblue;
  }

  header {
      background: gray;
      background-position: center center;
      width: 100%;
      height: 200px;
      position: absolute;
      top: 0;
      right: 0px;
  }

  header > h1 {
      margin: 50px auto;
      text-align: center;
      color: aliceblue;
      font-size: 4em;
  }

  h2 {
    text-align: center;
    margin-bottom: 100px;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto 400px;
    padding-top: 50px;
    position: relative;
    top: 50px;
  }

  .start {
    position: relative;
    margin: 150px auto 0;
    top: 10px;
  }

  .results {
    position: relative;
    padding: 40px;
    width: 1000px;
    height: 100%;
  }

  .results > img {
    margin: 0 39px 25px;
    float: right;
  }

  .results > p {
    left: 450px;
    bottom: 300px;
    font-size: 1em;
    color: lightslategray;
  }
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }

  /* Button Styling */

  a.fetchBtn {
    margin: 0 5%;
  }
  
  .fetchBtn, .resetBtn {
    -moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
    box-shadow:inset 0px 1px 0px 0px #7a8eb9;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
    background:-moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
    background:-webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
    background:-o-linear-gradient(top, #637aad 5%, #5972a7 100%);
    background:-ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
    background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);
    background-color:#637aad;
    border:1px solid #314179;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:24px;
    font-weight:bold;
    padding:14px 28px;
    text-decoration:none;
  }
  .fetchBtn:hover, .resetBtn {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad));
    background:-moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
    background:-webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
    background:-o-linear-gradient(top, #5972a7 5%, #637aad 100%);
    background:-ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
    background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad',GradientType=0);
    background-color:#5972a7;
  }
  .fetchBtn:active {
    position: relative;
    top:1px;
  }
